body {
  font-family: Arial;
  margin: 1em;
}

th, td, input {
  text-align: left;
}

th, #definitions > p {
  padding-left: 0.5em;
}

input, button {
  font-size: 1em;
}

input {
  padding: 0.5em;
  border: none;
  border-bottom: solid 1px grey;
}

button {
  border-radius: 3px;
  margin: 1em;
}

#N {
  font-weight: bold;
}

#footer {
  width: auto;
  margin-top: 10em;
  padding: 1em;
  border-top: solid 1px grey;
}

#dataset table {
  width: 95%;
  border-collapse: collapse;
}

#dataset th, #dataset td {
  border: solid 1px grey;
  padding: 0.25em;
}
