body {
  font-family: Arial;
  margin: 1em;
}

th, td, input {
  text-align: left;
}

th, #definitions > p {
  padding-left: 0.5em;
}

input, button {
  font-size: 1em;
}

input {
  width: 8em;
  padding: 0.5em;
  border: none;
  border-bottom: solid 1px grey;
}

button {
  border-radius: 3px;
  margin: 1em;
}

#N {
  font-weight: bold;
}

#footer {
  position: absolute;
  width: auto;
  bottom: 1em;
  padding: 1em;
  border-top: solid 1px grey;
}